%flex-basic{
    display:flex;
    justify-content: center;
    align-items: center;
}

img {
    border:15px solid #F66300;
    border-radius: 5px;
}

.Cart-list{
    @extend %flex-basic;
    min-height: 83vh;
    flex-direction: column;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 4px 4px #F66300;
    font-size: 30px;
    color: white;
}




