%flex-basic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cart_List {
   @extend %flex-basic;
    min-height: 83vh;
    flex-direction: column;

}
.Cart_List_2 { 
    @extend %flex-basic;
    flex-wrap: wrap;
    flex-direction: row;

}
.Checkout-Page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Checkout {
    height: 4vh;
    border-radius: 5px;
}

.Checkout-Card {
    background: rgb(236, 236, 236);
    width: 200px;
    min-width: 15vw;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

@media (min-width: 750px) { /* WHEN SCREEN big */
    .Cart_List {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 83vh;
        padding-left: 400px;
        padding-right: 400px;
    }
  }
