%flex-basic {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.AdminPage {
@extend %flex-basic;
padding: 30px;
margin: 100px auto 300px auto;
flex-direction: column;
background: #F66300;
width: 400px;
height: 400px;
box-shadow: 7px -1px 14px 0px rgba(0,0,0,0.54);
border-radius: 30px;
font-family: 'Luckiest Guy', cursive;
font-size: 18px;


}

input{
    border-radius: 3px;
    width: 2in;
    height: .08in;
}


h1{
color: white;
text-shadow: 2px 2px black;

}
h2{
 color: white;
 text-shadow: 2px 2px black;
}


@media (max-width: 750px) {
    .AdminPage{
        padding: 20px;
        margin: 100px auto 300px auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 400px;
    }
}