%flex-basic {
    display: flex;
    justify-content: center;
    align-items: center;
}

$card-background: #F66300;

.NewCustomer-page{
    @extend %flex-basic;
    padding: 20px;
    margin: 100px auto 300px auto;
    background:$card-background;
    flex-direction: column;
    border-radius: 15px;
    width: 500px;
    height: 300px;
    box-shadow: 7px -1px 14px 0px rgba(0,0,0,0.54);
    button{
        font-family: 'Luckiest Guy', cursive;
        font-size: 13px;
        border-radius: 5px;
        padding: 5px 10px;
        color: #f66300;
        margin-top: 15px;
    }
}

// responsiveness
@media (max-width: 470px) { 
    .NewCustomer-page{
        padding: 20px;
        margin: 100px auto 300px auto;
        background: $card-background;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 250px;
        border-radius: 10px;
    }
    button{
        font-family: 'Luckiest Guy', cursive;
        font-size: 13px;
        border-radius: 5px;
        padding: 5px 10px;
        color: #f66300;
    }
}