.Item_List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 200px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    color: white;
    text-shadow:3px 3px#F66300;
    button{
        font-family: 'Luckiest Guy', cursive;
        font-size: 13px;
        border-radius: 5px;
        padding: 5px 10px;
        color: #f66300;
        margin-top: 15px;
    }

}


.Card {
    background: rgb(233, 159, 109);
    width: 200px;
    min-width: 20vw;
    padding: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 7px -1px 14px 0px rgba(0,0,0,0.54);

}
.product { 
    width: 200px;
    height: 200px;
}
