%flex-basic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout{
    @extend %flex-basic;
    padding: 20px;
    margin: 100px auto 300px auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;

}