ul,
.drop-down-list {
    display: none;
}

.logo-image{
    padding-top: 20px;
}

.Hamburger-Image {
    height: 50px;
    width:50px;
    display: flex;
    justify-content: space-around;
    padding-left: 300px;
    margin-top: -10vh;
    display:none;
}
.drop-down-open{
display:flex;
justify-content: center;
justify-content: space-evenly;
animation: openMenu 1s;
}

.drop-down-closed{
    display:flex;
justify-content: center;
justify-content: space-evenly;
    animation: closeMenu 1s;
}


 .ul-1{
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         padding-left: 300px;
         padding-bottom: 20px;
 }


 