html{
  height: 500%
}

body {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image: url(./images/background.jpg);
  width: 100%;
  height: 100vh;
  }

  
  img {
    padding: 80px;
    height: 15%;
    width: 15%;
    
  }