body {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  // background-image: url(./images/background.jpg);
  }

  img {
    width: 200px;
    height: auto;
  }